@font-face {
    font-family: bebas;
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: cf;
    src: url('../fonts/Carnevalee Freakshow.ttf');
}

@font-face {
    font-family: crock;
    src: url('../fonts/crock.ttf');
}