@font-face {
    font-family: bebas;
    src: url('../fonts/BebasNeueRegular.ttf');
}

@font-face {
    font-family: cf;
    src: url('../fonts/CarnevaleeFreakshow.ttf');
}

@font-face {
    font-family: crock;
    src: url('../fonts/crock.ttf');
}